*{
    margin: 0;
    padding: 0;
}

 body{
    font-family: 'poppins', sans-serif;
 }
 .cabecalho{
    background-color: blueviolet;
    color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho.imagem {
    display: inline-block;
    margin: 0% 16px;
    
}

 
